.App {
  text-align: center;
}

body {
  background-color: #30404D !important;
}

.gamedash-container {
 display: block;
 max-width: 1200px;
}

.gamedash-column {
  width: 400px;
  float: left;
}

.gamedash-top-button-container {
  display: block;
  margin: 10px;
}

.gamedash-header {
  margin-left: 20px !important;
}

.gameicon-card {
  margin: 10px;
}

.gameicon-container:hover {
  background-color: lightseagreen;
}


a {
  text-decoration: none !important;
}

.topnav-btn-nodeco:focus {
  outline: none;
}