.App {
  text-align: center;
}

.gamedash-container {
 display: block;
}

.gamedash-column {
  width: 33%;
  display: inline-block;
}

.gameicon-container {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightslategrey;
  margin: 10px;
  padding: 10px;
}

.gameicon-container:hover {
  background-color: lightseagreen;
}